Carga y exploracion inicial de datos

Se importan al notebook las librería necesarias para el proyecto

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
import os

# Verifica si el archivo existe
if os.path.exists("data/datos_retail.csv"):
    print("El archivo existe.")
else:
    print("El archivo NO existe. Verifica la ruta o genera el archivo nuevamente.")

El archivo NO existe. Verifica la ruta o genera el archivo nuevamente.

In [11]:
df_mart = pd.read_csv("../Data/datos_retail.csv")

In [12]:
df_mart.head(2)

,ID_Cliente,Edad,Género,Fecha_Compra,Monto_Compra,Producto_Categoría,Método_Pago,Ubicación_Tienda,Promoción,Frecuencia_Compra
0,1,56,Otro,2020-01-01,414.01,Hogar,Débito,Norte,No,Regular
1,2,69,Otro,2020-01-02,185.32,Ropa,Tarjeta de Crédito,Norte,Sí,Regular

Información genral del datset

In [13]:
df_mart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_Cliente          1000 non-null   int64
 1   Edad                1000 non-null   int64
 2   Género              1000 non-null   object
 3   Fecha_Compra        1000 non-null   object
 4   Monto_Compra        1000 non-null   float64
 5   Producto_Categoría  1000 non-null   object
 6   Método_Pago         1000 non-null   object
 7   Ubicación_Tienda    1000 non-null   object
 8   Promoción           1000 non-null   object
 9   Frecuencia_Compra   1000 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 78.3+ KB

Información estadistica

In [14]:
df_mart.describe()

        ID_Cliente        Edad  Monto_Compra
count  1000.000000  1000.00000   1000.000000
mean    500.500000    43.81900    251.304810
std     288.819436    14.99103    139.440868
min       1.000000    18.00000     10.090000
25%     250.750000    31.00000    126.815000
50%     500.500000    44.00000    252.535000
75%     750.250000    56.00000    371.800000
max    1000.000000    69.00000    498.570000

Revisión de valores faltantes

In [15]:
df_mart.isnull().sum()

ID_Cliente            0
Edad                  0
Género                0
Fecha_Compra          0
Monto_Compra          0
Producto_Categoría    0
Método_Pago           0
Ubicación_Tienda      0
Promoción             0
Frecuencia_Compra     0
dtype: int64